{% extends 'base.html' %}

{% block content %}
	<h1>Book List</h1>
	<table class="table table-striped table-hover table-bordered">
		<thead class="table-dark">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Title</th>
				<th scope="col">Description</th>
				<th scope="col">Published date</th>
				<th scope="col">Publisher</th>
				<th scope="col">Price</th>
				<th scope="col">Remaning</th>
				<th scope="col">Author</th>
				<th scope="col">Category</th>
			</tr>
		</thead>
		<tbody>
			{% if book_list %}
				{% for book in book_list %}
					<tr>
						<td><a href="{{ book.get_absolute_url }}">{{ book.id }}</a></td>
						<td>{{ book.title }}</td>
						<td>{{ book.description }}</td> 
						<td>{{ book.published_date }}</td> 
						<td>{{ book.publisher }} </td>
						<td>{{ book.price }} </td>
						<td>{{ book.remaining }} </td>
						<td>{{ book.author }} </td>
						<td>{{ book.category }}</td> 
					</tr>
				{% endfor %}
			{% else %}
				<p>There are no books in the library.</p>
			{% endif %}
		</tbody>
  	</table>
	<a href="{% url 'addbook' %}" class="btn btn-secondary">Add book</a>
{% endblock %}
