{% extends 'base.html' %}
{% block content %}
	<h1>Borrow List</h1>
	<table class="table table-striped table-hover table-bordered">
		<thead class="table-dark">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Member ID</th>
				<th scope="col">Borrowed day</th>
				<th scope="col">Return day</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			{% if borrow_list%}
				{% for borrow in borrow_list %}
					<tr>
						<td><a href="{{ borrow.get_absolute_url }}">{{ borrow.id }}</a></td>
						<td>{{ borrow.member_id }}</td>
						<td>{{ borrow.borrowed_day }}</td>
						<td>{{ borrow.return_day }}</td>
						<td>{{ borrow.status }}</td>
					</tr>
				{% endfor %}
			{% else %}
				<p>There are no borrows in the library.</p>
			{% endif %}
		</tbody>
	</table>
	<a href="{% url 'addborrow' %}" class="btn btn-secondary">Add borrow</a>
{% endblock %}
