{% extends "base.html" %}

{% block content %}
		{% comment %} nếu người dùng đã đăng nhập thì hiển thị trang chính {% endcomment %}
		{% if user.is_authenticated %}
			<div class="col-md-6 offset-md-3 ">
				<h1>Local Library Management System</h1>
				<p>The library has the following record counts:</p>
				<div class="row container text-center">
					<div class="col border border-2 rounded-4">
						<p><strong>Books total</strong> <br> {{ num_books }}</p>
						<button>
							<a href="{% url 'books' %}">Books list</a>
						</button>
					</div>
					<div class="col border border-2 rounded-4">
						<p><strong>Members total</strong> <br> {{ num_members }}</p>
						<button>
							<a href="{% url 'member' %}">Members list</a>
						</button>
					</div>
				</div>
			</div>

		{% comment %} nếu người dùng chưa đăng nhập thì hiển thị trang đăng nhập {% endcomment %}
		{% else %}
			<div class="col-md-6 offset-md-3">
				<h1>Login</h1>
				<br>
				<form action="{% url 'home' %}" method="POST">
					{% csrf_token %}
					<form>
						<div class="mb-3">
							<input
								type="text"
								class="form-control"
								name="username"
								placeholder="User Name"
							/>
						</div>
						<div class="mb-3">
							<input
								type="password"
								class="form-control"
								name="password"
								placeholder="Pass Word"
								required
							/>
						</div>
						<button type="submit" class="btn btn-secondary">Login</button>
					</form>
				</form>
			</div>
		{% endif %}

{% endblock %}
