<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'home' %}">Library managerment</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active d-flex" aria-current="page" href="{% url 'home' %}"
						>Home</a
					>
				</li>
				<!-- neu nguoi dung dang nhap thi hien thi nut Dang xuat -->
				{% if user.is_authenticated %}
					{% if user.is_staff %}
						<li class="nav-item"><a class="nav-link" href="{% url 'member' %}">Members</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'books' %}">Books</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'borrow' %}">Borrows</a></li>
					{% else %}
						<li class="nav-item"><a class="nav-link" href="{% url 'books' %}">Books</a></li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Logout</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'register' %}">Register</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
