{% extends 'base.html' %}
{% block content %}
<div class="d-flex">
	<div class="p-2 w-50">
        {% include 'sidebar.html' %}
    </div>
	<div class="p-2 flex-shrink-1">
		<h1>Main Content</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id
			eros eget enim ullamcorper semper. Nullam sodales, dui eu ornare
			tincidunt, mauris lacus egestas velit, at scelerisque sapien ligula
			vel nulla. Sed faucibus mauris vitae urna egestas, eu iaculis mauris
			semper. Donec ullamcorper, lectus ac sodales semper, eros mauris
			semper quam, eu ultrices diam mauris ac enim. Nullam eget lacus
			commodo, varius nulla eu, hendrerit nibh. Nulla facilisi.
		</p>
	</div>
</div>
{% endblock %}
