{% extends 'base.html' %}
{% block content %}

    <div class="col-md-6 offset-md-3">
        <h1>Update Book</h1>
        <br/>

        <form method="POST" action="{% url 'updatebook' book.book_id%}">
            {% csrf_token %}

            {% comment %} {{ form.as_p }} {% endcomment %}
            </label>Book id:</label>
            {{ form.book_id }}
            <br>
            </label>Title:</label>
            {{ form.title }}
            <br>
            </label>Published year:</label>
            {{ form.published_year }}
            <br>
            </label>Publisher:</label>
            {{ form.publisher }}
            <br>
            </label>Price:</label>
            {{ form.price }}
            <br>
            </label>Remaning:</label>
            {{ form.remaining }}
            <br>
            </label>Author:</label>
            {{ form.author }}
            <a href="{% url 'addauthor' %}" class="btn btn-secondary m-2 d-inline"><i class="fa-solid fa-plus"></i></a>
            <br><br>
            </label>Category:</label>
            {{ form.category }}
            <a href="{% url 'addcategory' %}" class="btn btn-secondary m-2 d-inline"><i class="fa-solid fa-plus"></i></a>
            <br>

            <br/>
            <button type="submit" class="btn btn-secondary m-1">Update</button>
            <a href="{% url 'books' %}" class="btn btn-secondary m-1">Back</a>

        </form>

    </div>

{% endblock %}